body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;

    height: 36px;
}

.logo {
    font-weight: bolder;
    font-size: larger;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 16px;
    color: #E5E7EB;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 400px;
}

.text1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.text2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 120px;
    height: 35px;
    color: white;
    background-color: #3882f6;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
}

img {
    height: 150px;
    width: auto;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 32px;
}

.heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-basis: 50px;
    flex-direction: column;
    padding: 8px;
    text-align: center;
}

.box {
    border: 4px solid #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    border-color: #3882f6;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    flex-basis: 600px;
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.quote-text{
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quoter {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 20px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    flex-grow: 1;
}

.box2 {
    background-color: #3882f6;
    display: flex;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    width: 700px;
}

.fourth-section .heading {
    color: #f9faf8;
    font-size: larger;
    font-weight: bolder;
}

.fourth-section .text {
    color: #E5E7EB;
}

.fourth-section button {
    border: 2px solid #f9faf8;
}

.footer {
    height: 72px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}